.money{
  color:rgb(164, 185, 64);
  font-size: 25px;
}
.flash_on{
  color:rgb(215, 214, 51);
  font-size: 25px;
}
.invert_colors{
  color:rgb(69, 172, 199);
}
.location_city{
  color:rgb(39, 41, 29);
}
