

html {
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87)
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px
}
.row:after {
    content: "";
    display: table;
    clear: both
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit
}

@media only screen and (min-width: 0) {
    html {
        font-size: 14px
    }
}

@media only screen and (min-width: 992px) {
    html {
        font-size: 14.5px
    }
}

@media only screen and (min-width: 1200px) {
    html {
        font-size: 15px
    }
}


/*card*/
.card {
    position: relative;
    margin: .5rem 0 1rem 0;
    background-color: #fff;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
}



/*waves-effect*/
.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out
}


/*btn-flat*/
.modal .modal-footer .btn, .modal .modal-footer .btn-large, .modal .modal-footer .btn-flat {
    margin: 6px 0
}
.toast .btn, .toast .btn-large, .toast .btn-flat {
    margin: 0;
    margin-left: 3rem
}
.btn-flat {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent
}
.btn-flat i {
    font-size: 1.3rem;
    line-height: inherit
}
.btn-flat {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    color: #343434;
    cursor: pointer;
    -webkit-transition: background-color .2s;
    transition: background-color .2s
}

/*table*/

table {
    border-collapse: collapse;
    border-spacing: 0
}

td, th {
    padding: 0
}
table, th, td {
    border: none
}

table {
    width: 100%;
    display: table
}

table.bordered>thead>tr, table.bordered>tbody>tr {
    border-bottom: 1px solid #d0d0d0
}

table.striped>tbody>tr:nth-child(odd) {
    background-color: #f2f2f2
}

table.striped>tbody>tr>td {
    border-radius: 0
}

table.highlight>tbody>tr {
    -webkit-transition: background-color .25s ease;
    transition: background-color .25s ease
}

table.highlight>tbody>tr:hover {
    background-color: #f2f2f2
}

table.centered thead tr th, table.centered tbody tr td {
    text-align: center
}

thead {
    border-bottom: 1px solid #d0d0d0
}

td, th {
    padding: 15px 5px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px
}

@media only screen and (max-width: 992px) {
    table.responsive-table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        display: block;
        position: relative
    }
    table.responsive-table td:empty:before {
        content: '\00a0'
    }
    table.responsive-table th, table.responsive-table td {
        margin: 0;
        vertical-align: top
    }
    table.responsive-table th {
        text-align: left
    }
    table.responsive-table thead {
        display: block;
        float: left
    }
    table.responsive-table thead tr {
        display: block;
        padding: 0 10px 0 0
    }
    table.responsive-table thead tr th::before {
        content: "\00a0"
    }
    table.responsive-table tbody {
        display: block;
        width: auto;
        position: relative;
        overflow-x: auto;
        white-space: nowrap
    }
    table.responsive-table tbody tr {
        display: inline-block;
        vertical-align: top
    }
    table.responsive-table th {
        display: block;
        text-align: right
    }
    table.responsive-table td {
        display: block;
        min-height: 1.25em;
        text-align: left
    }
    table.responsive-table tr {
        padding: 0 10px
    }
    table.responsive-table thead {
        border: 0;
        border-right: 1px solid #d0d0d0
    }
    table.responsive-table.bordered th {
        border-bottom: 0;
        border-left: 0
    }
    table.responsive-table.bordered td {
        border-left: 0;
        border-right: 0;
        border-bottom: 0
    }
    table.responsive-table.bordered tr {
        border: 0
    }
    table.responsive-table.bordered tbody tr {
        border-right: 1px solid #d0d0d0
    }
}

input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}
.input-field input[type=search] {
    display: block;
    line-height: inherit;
    padding-left: 4rem;
    width: calc(100% - 4rem)
}

.input-field input[type=search]:focus {
    background-color: #fff;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #444
}

.input-field input[type=search]:focus+label i, .input-field input[type=search]:focus~.mdi-navigation-close, .input-field input[type=search]:focus~.material-icons {
    color: #444
}

.input-field input[type=search]+label {
    left: 1rem
}

.input-field input[type=search]~.mdi-navigation-close, .input-field input[type=search]~.material-icons {
    position: absolute;
    top: 0;
    right: 1rem;
    color: transparent;
    cursor: pointer;
    font-size: 2rem;
    -webkit-transition: .3s color;
    transition: .3s color
}
